target/
!.mvn/wrapper/maven-wrapper.jar

pom.xml.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

data/
realwave-ptm-web-search/data/
realwave-ptm-web-application/data/

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
realwave-ptm-api/src/test/java/br/
realwave-ptm-model/src/main/resources/
realwave-ptm-service/src/main/resources/
